@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    background: url(/assets/images/bg-login.png) no-repeat center center fixed;
    background-size: cover;
}

.main-section {
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;
}

.modal-content {
    background-color: #cccccc1a;
    padding: 0 18px;
    box-shadow: 0px 0px 3px #cccccc1a;
    border: 0;
    padding-bottom: 30px;
}

.user-img {
    margin-top: -80px;
    margin-bottom: 25px;
}

.user-img img {
    height: 150px;
    width: 150px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    height: 42px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    padding-left: 40px;
}

.form-group::before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f007";
    position: absolute;
    font-size: 22px;
    color: #555e60;
    left: 22px;
    padding-top: 4px;
}

.form-group:last-of-type::before {
    content: "\f023";
}

button {
    width: 50%;
    margin: 5px 0 25px;
}

.btn a {
    color: inherit;
    text-decoration:none;
}

.btn {
    background-color: #206597;
    color: #fff;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 5px;
    border-bottom: 4px solid #1e4d6ee7;

}

.btn:hover, .btn:focus {
    background-color: #1e4d6e;
    border-bottom: 4px solid #1e4d6e!important;

}

.svg-inline--fa {
    font-size: 18px;
    margin-right: 7px;

}

#pass_forgot {
    color: white;
    position: relative;
}

#login_register {
    color: white;
    padding-top: 5px;
}
