* {padding: 0; margin: 0;}

    body {
    background-color: #f8f8f873;
    font-family: 'Roboto', sans-serif;
    }

    /***MODAL***/

    #myModal h1 {
        text-align: center;
        font-weight: 200;
        font-size:30px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .modal {
        position: fixed; /* Stay in place */
        z-index: 10; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: #000000; /* Fallback color */
        background-color: #00000066; /* Black w/ opacity */
        display: none;
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 35%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        height: 300px;
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }

    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }

    /* The Close Button */
    .close-modal {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close-modal:hover,
    .close-modal:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header {
        padding: 2px 16px;
        background-color: #27263f;
        color: #ffffff;
    }

    .modal-body {
        margin: 0 auto;
        text-align: center;
        font-size: 13px;
        display: table;
        padding-top: 50px;
    }

    .modal-body p {
        margin-bottom: 10px;
        font-size: 15px;
    }

    .modal-body input {
        margin-bottom: 10px;
    }

        .btn-add-weight {
            background: #fff;
            border: 1px solid #0000007c;
            border-radius: 6px;
            padding: 10px;
            width: 150px;
            cursor: pointer;
        }


        .input-data {
            background-color: #fff;
            font-family: 'Montserrat';
            color: #000;
            border: 1px solid #2e2e2e93;
            border-radius: 6px;
           width: 100%;
            height: 30px;
            font-size:20px;
            }

            .input-data:not(:hover) {
            background-color: #fff;
            font-family: 'Montserrat';
            color: #cecece;
            border-radius: 6px;
            width: 100%;
            font-size:20px;
            }

            .input-weight {
            background-color: #fff;
            font-family: 'Montserrat';
            color: #000;
            border: 1px solid #2e2e2e93;
            border-radius: 6px;
            width: 100%;
            height: 30px;
            font-size:23px;
            }


           .input-weight:not(:hover) {
            background-color: #fff;
            font-family: 'Montserrat';
            color: #cecece;
            border-radius: 6px;
            width: 100%;
            font-size:23px;
            }


    .submit {
            background: #32304e;
            border: 1px solid #32304e;
            border-radius: 6px;
            padding: 5px;
            width: 50px;
            cursor: pointer;
            margin-bottom: 10px;
            color: #fff;
            text-align:center;
            margin: 10px 5px;

            }

    .reset {
            background: #b91904;
            border: 1px solid #b91904;
            border-radius: 6px;
            padding: 5px;
            width: 70px;
            cursor: pointer;
            margin-bottom: 10px;
            color: #fff;
            text-align:center;
            margin: 10px 5px;
            }


    #container {
        display: grid;
        grid-template-columns: 220px 2fr 2fr;
        grid-template-rows: 75px 80px 2fr 2fr;
        width: 100vw;
        height: 100vh;
        grid-template-areas:
        "header1 header2 header3"
        "side1 info2 info2"
        "side1 content1 content2"
        "side1 content3 content4"
        "side4 . .";
    }

    /* HEADER */

    .mainHeader1 {
        background-color: #27263f;
        grid-area: header1;
    }

    .mainHeader1 a {
        display: flex;
        justify-content: center;
        padding: 20px;
        color: #fff;
        text-decoration: none;
        font-size: 20px;
    }

    .mainHeader2 {
        background-color: #27263f;
        grid-area: header2;
    }

    .mainHeader3 {
        background-color: #27263f;
        grid-area: header3;
    }

    /* INFO */
    .mainInfo2 {
        background-color: #ffffff;
        grid-area: info2;
        border-style: none none solid none;
        border-color: #3d3d3d13;

    }

    .wrapper {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "tiny tiny tiny tiny tiny"
            "bot bot bot bot bot";

    }

    .tiny {
        margin-top: 10px;
        font-size: 13px;
        text-align: center;
        color: #2390d8c4;
    }

    .bot {
        text-align: center;
        font-size: 35px;
    }



    /* SIDEBAR */
    .mainSidebar1 {
        background-color: #ffffff;
        grid-area: side1;
        border-style: none solid none none;
        border-color: #3d3d3d13;

    }

    .mainSidebar4 {
        background-color: #ffffff;
        grid-area: side4;
        border-style: none solid none none;
        border-color: #3d3d3d13;
        font-size: 30px;
    }

    .mainSidebar1 ul {
        padding-top: 10px;
        background: #ffffff;
    }

    .mainSidebar4 ul {
        background: #ffffff;
    }

    .mainSidebar1 ul {
        list-style: none;
        text-decoration: none;
    }

    .mainSidebar1 li {
        padding:4px;
    }
    .mainSidebar1 ul li:hover {
        color: #fff;
    }


    .mainSidebar4 ul li:hover {
        color: #fff;
    }

    .mainSidebar1 ul li:not(:hover) {
        opacity: 0.5;
    }

    .mainSidebar4 ul li:not(:hover) {
        opacity: 0.5;
    }

    .btn {
        background: #fff;
        width: 100%;
        border: none;
        font-size: 16px;
        padding: 4px;
        transition: 0.3s;

    }

    .btn:hover {
        background-color: #292929e1;
        color: #fff;
        cursor: pointer;
    }

    .change_btn {
        background-color: #ffffff;
        cursor: pointer;
        border: none;
        width: 100%;
        transition: 0.3s;
    }

    .change_btn:hover {
        background-color: #292929af;
        color: #fff;
        cursor: pointer;
        border: none;
        width: 100%;
    }

    .signout_btn {
        background-color: #ffffff;
        cursor: pointer;
        border: none;
        width: 100%;

    }
    /* SIDEBAR */


    /* CONTENT */

    .grid1 {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "title"
            "tablezinha"
            "bt"

    }

    .mainContent1 {
        background-color: #f8f8f8;
        grid-area: content1;
        margin: 10px;
        border-radius: 12px;
        -webkit-box-shadow: 6px 6px 13px -3px rgba(102,102,102,0.72);
        -moz-box-shadow: 6px 6px 13px -3px rgba(102,102,102,0.72);
        box-shadow: 6px 6px 13px -3px rgba(102,102,102,0.72);
    }

    .mainContent1 h1 {
        font-size: 20px;
    }

    .btn-add-atv, .btn-edt-atv, .btn-add-food, .btn-add-press, .btn-edt-press, .btn-add-weight, .btn-edt-weight, .btn-edt-food {
        background: #fff;
        border: 1px solid #0000007c;
        border-radius: 6px;
        padding: 10px;
        width: 150px;
        grid-area: bt;
        cursor: pointer;
    }

    .botoes {
        text-align: center;
        padding: 30px;

    }


    .mainContent2 {
        background-color: #f8f8f8;
        grid-area: content2;
        margin: 10px;
        border-radius: 12px;
        -webkit-box-shadow: 6px 6px 13px -3px rgba(102,102,102,0.72);
        -moz-box-shadow: 6px 6px 13px -3px rgba(102,102,102,0.72);
        box-shadow: 6px 6px 13px -3px rgba(102,102,102,0.72);
    }

    .mainContent3 {
        background-color: #f8f8f8;
        grid-area: content3;
        margin: 10px;
        border-radius: 12px;
        -webkit-box-shadow: 6px 6px 13px -3px rgba(102,102,102,0.72);
        -moz-box-shadow: 6px 6px 13px -3px rgba(102,102,102,0.72);
        box-shadow: 6px 6px 13px -3px rgba(102,102,102,0.72);
    }

    .mainContent4 {
        background-color: #f8f8f8;
        grid-area: content4;
        margin: 10px;
        border-radius: 12px;
        -webkit-box-shadow: 6px 6px 13px -3px rgba(102,102,102,0.72);
        -moz-box-shadow: 6px 6px 13px -3px rgba(102,102,102,0.72);
        box-shadow: 6px 6px 13px -3px rgba(102,102,102,0.72);
    }

    .head {
        font-size: 13px;
        padding-left: 17px;
        padding-top: 15px;
    }

    table.minimalistBlack {
        width: 100%;
        text-align: center;
        border-collapse: separate;
        border-spacing: 0px 20px;
    }

    table.minimalistBlack td, table.minimalistBlack th {
        text-align: center;
        border-bottom: solid 1px #0000001e;

    }

    table.minimalistBlack tbody td {
        font-size: 16px;
        text-align: center;
        border-bottom: solid 1px #0000001e;
    }

    table.minimalistBlack thead {
        background: rgba(245, 245, 245, 0.89);
        text-align: center;
        border-bottom: solid 1px #0000001e;
    }

    table.minimalistBlack thead th {
        font-size: 18px;
        color: #000000;
        text-align: center;
        border-bottom: solid 1px #0000001e;
    }

    table.minimalistBlack thead th:first-child {
        border-left: none;
    }

    table.minimalistBlack tfoot td {
        font-size: 14px;
    }